<script type="text/javascript">
    function getAliases() {
        $.getJSON(window.location.href + '/get_aliases', function (data) {
                console.log(data);
            var table = $('#tableBodyAliases');
            table.find('tr').remove().end();
            $.each(data, function (index, alias) {
                $.getJSON(window.location.href + '/get_command', {command: alias.command}, function(command){
                    var response = command.script == null ? command.response : "[SCRIPT] ".bold() + command.script;
                    table.append($('<tr/>').append($('<td/>').text(alias.name)).append($('<td/>').text(alias.command)).append($('<td/>').html(response)).append($('<td/>').text(command.execUserLevel.capitalize())));
                });

            });

        });
    }
    $(document).ready(function () {
        getChannelName();
        getAliases();
    });
</script>
<h4 class="text-center">Aliases</h4>
<table>
    <thead>
    <tr>
        <th style="min-width: 200px">Name</th>
        <th style="min-width: 200px">Command</th>
        <th style="width: 100%;">Response/Script</th>
        <th style="min-width: 200px">User Level</th>
    </tr>
    </thead>
    <tbody id="tableBodyAliases">
    </tbody>
</table>