<script type="text/javascript">

    var writable;
    $(document).ready(function () {
        $.getJSON('/dashboard/is_whitelisted', function (data) {
            if (data == '1') {
                $('#tableHeadCommands').append($('<th/>').append($('<a/>').addClass('button tiny').attr('onclick', 'newCommand()').text('New')));
                writable = true;
            }
        });
        $("[name='below']").bootstrapSwitch();
        $('#deleteConfirm').bootstrapSwitch();
        getChannelName();
        populateUserLevels();
        on_userLevelChange();
    });

    $(document).on('closed.fndtn.reveal', '[data-reveal]', resetModals());

    function resetModals(){
        $('#newCommand').val("");
        $('#newResponse').val("");
        $('#newScript').val("");
        $('#newDebug').val("false");
        $('#newMinArgs').val(0);
        $('#newEUL').val("DEFAULT");
        $('#newRMUL').val("DEFAULT");
        $('#newNMUL').val("DEFAULT");
        $('#newULMUL').val("DEFAULT");

        $('#editOldCommand').val("");
        $('#editCommand').val("");
        $('#editResponse').val("");
        $('#editScript').val("");
        $('#editDebug').val("false");
        $('#editMinArgs').val(0);
        $('#editEUL').val("DEFAULT");
        $('#editRMUL').val("DEFAULT");
        $('#editNMUL').val("DEFAULT");
        $('#editULMUL').val("DEFAULT");

        $('#deleteConfirm').removeProp('checked');
    }

    function editCommand(command) {
        $('#editOldCommand').val(command);
        $('#editCommand').val(command);
        $.getJSON(window.location.href + '/get_command', {
            command: command
        }, function (result) {
            if (result.script != null) {
                $('#editResponse').attr('disabled', '').val("");
            } else {
                $('#editResponse').removeAttr('disabled').val(result.response);
            }
            $('#editScript').val(result.script);
            $('#editMinArgs').val(result.minArgs);
            $('#editDebug').val(result.debug);
            $('#editEUL').val(result.execUserLevel);
            $('#editNMUL').val(result.nameModifyingUL);
            $('#editRMUL').val(result.responseModifyingUL);
            $('#editULMUL').val(result.userLevelModifyingUL);
            $('#editModal').foundation('reveal', 'open');
        });
    }

    function doEditCommand() {
        $.post(window.location.href + '/edit_command', $('#ajax-edit').serialize(), function () {
            on_userLevelChange();
            $('#editModal').foundation('reveal', 'close');
        });


    }
    function toggleCommand(command) {
        $.post(window.location.href + "/toggle_command", {
            old_command: command,
            action_type: 'toggle'
        }, function (result) {
            if (result == '1') {
                on_userLevelChange();
            } else if (result == '0') {
            }
        });

    }
    function deleteCommand(command) {
        $('#deleteOldCommand').val(command);
        $('#deleteCommand').text(command);
        $('#deleteModal').foundation('reveal', 'open');

    }

    function doDeleteCommand() {
        if ($('#deleteConfirm').is(':checked')) {
            $.post(window.location.href + '/delete_command', $('#ajax-delete').serialize(), function () {
                on_userLevelChange();
                $('#deleteModal').foundation('reveal', 'close');
            });
        }
    }

    function newCommand() {
        // $('body').append($('<div/>',{id: 'newModal', role:'dialog'}));
        //$('#newModal').attr('data-reveal','').attr('aria-labelledby','modalTitle').attr('aria-hidden', 'true').attr('data-options', 'close_on_background_click: false;').foundation('reveal', 'open');
        $('#newModal').foundation('reveal', 'open');

    }

    function populateUserLevels() {
        var userLevelsSelect = $('#user_level');
        userLevelsSelect.append($("<option/>").val("ALL").text("All"));
        $.getJSON('/dashboard/get_user_levels', function (data) {
            $.each(data, function (index, userLevel) {
                userLevelsSelect.append($("<option/>").val(userLevel).text(userLevel.capitalize()));

            });
            $.each(data.reverse(), function (index, userLevel) {
                $('.userLevels').append($("<option/>").val(userLevel).text(userLevel.capitalize()));
            });
        });
    }
    function addNewCommand() {
        var formData = $('#ajax-new').serialize();
        if($('#newCommand').val() === ""){
            $('#newModal').append($('<div/>').attr('data-alert', '').attr('role', 'alertdialog').addClass('alert-box alert').text('You need to enter a command name!'));
        }else {
            $.post(window.location.href + '/add_command', formData, function (result) {
                if (result == '1') {
                    on_userLevelChange();
                    $('#newModal').foundation('reveal', 'close');
                } else if (result == '0') {
                    $('#newModal').append($('<div/>').attr('data-alert', '').attr('role', 'alertdialog').addClass('alert-box alert').text('This Command ' + $('#command').val() + ' already exists for this channel!')/*.append($('<button/>').addClass('close').html('&times;'))*/);
                }
            });
        }
    }

    function on_userLevelChange() {
        var userLevelsSelect = $('#user_level');
        if (userLevelsSelect.val() == 'ALL' || userLevelsSelect.val() == "DEFAULT") {
            $('#andBelow').addClass('hidden-for-small-up');
        } else {
            $('#andBelow').removeClass('hidden-for-small-up');
        }

        $.getJSON(window.location.href + '/get_commands', {
            id: userLevelsSelect.val(),
            below: !$('#below').prop("checked")
        }, function (data) {
            var table = $('#tableBodyCommands');
            table.find('tr').remove().end();
            $.each(data, function (index, command) {
                        var response = command.script == null ? command.response : "[SCRIPT] ".bold() + command.script;

                        if (command.enabled == 'true') {
                            if (writable) {
                                table.append($('<tr/>').append($('<td/>').text(command.name)).append($('<td/>').html(response)).append($('<td/>').text(command.execUserLevel.capitalize()))
                                        .append($('<td/>').append($('<button/>').addClass('button tiny dropdown').attr('href', '#').attr('data-dropdown', 'drop-' + index).text('Edit'))
                                                .append($('<ul/>').addClass('f-dropdown').attr('id', 'drop-' + index).attr('data-dropdown-content', '')
                                                        .append($('<li/>').append($('<a/>').attr('onclick', "editCommand(\"" + command.name + "\")").text('Edit')))
                                                        .append($('<li/>').append($('<a/>').attr('onclick', "toggleCommand(\"" + command.name + "\")").text('Disable')))
                                                        .append($('<li/>').append($('<a/>').attr('onclick', "deleteCommand(\"" + command.name + "\")").text('Delete')))
                                        )));
                            } else {
                                table.append($('<tr/>').append($('<td/>').text(command.name)).append($('<td/>').html(response)).append($('<td/>').text(command.execUserLevel.capitalize())));
                            }
                        } else {
                            if (writable) {
                                table.append($('<tr/>').prop('title', 'This Command is DISABLED').attr('style', 'background-color: #F9D2D4; cursor: help;')
                                        .append($('<td/>').text(command.name)).append($('<td/>').html(response)).append($('<td/>').text(command.execUserLevel.capitalize()))
                                        .append($('<td/>').append($('<button/>').addClass('button tiny dropdown').attr('href', '#').attr('data-dropdown', 'drop-' + index).text('Edit'))
                                                .append($('<ul/>').addClass('f-dropdown').attr('id', 'drop-' + index).attr('data-dropdown-content', '')
                                                        .append($('<li/>').append($('<a/>').attr('onclick', "editCommand(\"" + command.name + "\")").text('Edit')))
                                                        .append($('<li/>').append($('<a/>').attr('onclick', "toggleCommand(\"" + command.name + "\")").text('Enable')))
                                                        .append($('<li/>').append($('<a/>').attr('onclick', "deleteCommand(\"" + command.name + "\")").text('Delete')))
                                        )));
                            } else {
                                table.append($('<tr/>').prop('title', 'This Command is DISABLED').attr('style', 'background-color: #F9D2D4; cursor: help;').append($('<td/>').text(command.name)).append($('<td/>').html(response)).append($('<td/>').text(command.execUserLevel.capitalize())));
                            }
                        }
                    }
            )
            ;
            $(document).foundation('dropdown', 'reflow');
        });
    }
</script>

<div id='newModal' class='reveal-modal' data-reveal aria-labelledby='modalTitle' aria-hidden='true' role="dialog" data-options="close_on_background_click: false;">
    <form id="ajax-new">
        <input name="authenticity_token" type="hidden" value="x37DrAAwyIIb7s+w2+AdoCR8cAJIpQhIetKRrPgG5VA=">
        <input name="action_type" id="action_type" type="hidden" value="new">

        <div class="field">
            <label for="command">Command:</label>
            <input type='text' id='newCommand' name='command' required>
        </div>
        <div class="field">
            <label for="response">Response:</label>
            <input type='text' placeholder="example response" id='newResponse' name='response'>
        </div>
        <div class="field">
            <label for="script">Script (optional; overrides 'Response'):</label>
            <input type='text' id='newScript' name='script'>
        </div>
        <div class="field">
            <label for="minArgs">Minimum Arguments:</label>
            <input required type='number' id='mewMinArgs' min="0" value='0' name='minArgs'>
        </div>
        <div class="field">
            <label>Debug</label>
            <select name="debug" id="newDebug" title="debug">
                <option value="false">False</option>
                <option value="true">True</option>
            </select>
        </div>
        <div class="field">
            <label>Executing UserLevel:</label>
            <select class="userLevels" id="newEUL" name="eUL"></select>
        </div>
        <div class="field">
            <label>Name Modifying UserLevel:</label>
            <select class="userLevels" id="newNMUL" name="nMUL">
            </select>
        </div>
        <div class="field">
            <label>Response Modifying UserLevel:</label>
            <select class="userLevels" id="newRMUL" name="rMUL">
            </select>
        </div>
        <div class="field">
            <label>UserLevel Modifying UserLevel:</label>
            <select class="userLevels" id="newULMUL" name="ulMUL">
            </select>
        </div>

        <div class="field">
            <a class="button" onclick="addNewCommand()">Save</a>
        </div>
    </form>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div id='editModal' class='reveal-modal' data-reveal aria-labelledby='modalTitle' aria-hidden='true' role="dialog" data-options="close_on_background_click: false;">
    <form id="ajax-edit">
        <input name="authenticity_token" type="hidden" value="x37DrAAwyIIb7s+w2+AdoCR8cAJIpQhIetKRrPgG5VA=">
        <input name="old_command" id="editOldCommand" type="hidden">
        <input name="action_type" id="action_type" type="hidden" value="edit">

        <div class="field">
            <label for="command">Command:</label>
            <input type='text' id='editCommand' name='command' required>
        </div>
        <div class="field">
            <label for="response">Response:</label>
            <input type='text' placeholder="example response" id='editResponse' name='response'>
        </div>
        <div class="field">
            <label for="script">Script (optional; overrides 'Response'):</label>
            <input type='text' id='editScript' readonly name='script'>
        </div>
        <div class="field">
            <label for="minArgs">Minimum Arguments:</label>
            <input required type='number' id='editMinArgs' min="0" value='0' name='minArgs'>
        </div>
        <div class="field">
            <label>Debug</label>
            <select name="debug" id="editDebug" title="debug">
                <option value="false">False</option>
                <option value="true">True</option>
            </select>
        </div>
        <div class="field">
            <label>Executing UserLevel:</label>
            <select class="userLevels" id="editEUL" name="eUL"></select>
        </div>
        <div class="field">
            <label>Name Modifying UserLevel:</label>
            <select class="userLevels" id="editNMUL" name="nMUL">
            </select>
        </div>
        <div class="field">
            <label>Response Modifying UserLevel:</label>
            <select class="userLevels" id="editRMUL" name="rMUL">
            </select>
        </div>
        <div class="field">
            <label>UserLevel Modifying UserLevel:</label>
            <select class="userLevels" id="editULMUL" name="ulMUL">
            </select>
        </div>

        <div class="field">
            <a class="button" onclick="doEditCommand()" id="editSubmit">Save</a>
        </div>
    </form>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div id='deleteModal' class='reveal-modal' data-options='close_on_background_click: false;' data-reveal aria-labelledby='modalTitle' aria-hidden='true' role='dialog'>
    <form id='ajax-delete'>
        <input name="authenticity_token" type="hidden" value="x37DrAAwyIIb7s+w2+AdoCR8cAJIpQhIetKRrPgG5VA=">
        <input name="action_type" id="action_type" type="hidden" value="delete">
        <input type='hidden' id='deleteOldCommand' name='old_command'>
        <label for="deleteCommand">Confirm that you want to
            delete the
            command: <span id="deleteCommand"></span></label>
        <input required  data-label-width="auto" data-handle-width="auto" data-on-text="Yes" data-off-text="No" data-label-text="Delete"  type="checkbox" id="deleteConfirm" name="confirm" value="confirm">
        <br/>
        <a class="button alert" onclick="doDeleteCommand()">Confirm Delete</a>
    </form>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<h4 class="text-center">Commands</h4>
<form>
    <div class="row">
        <div class="large-6 columns small-centered">
            <div class="row collapse prefix-radius">
                <div class="small-3 columns small-offset-3">
                    <span class="prefix">User Level </span>
                </div>
                <div class="small-3 columns end">
                    <label for="user_level"></label>
                    <select id="user_level" onchange="on_userLevelChange()"></select>
                </div>
            </div>
        </div>
    </div>
    <div id="andBelow" class="row hidden-for-small-up" style="margin-bottom: 20px;">
        <div class="large-6 columns small-centered">
            <div class="row collapse prefix-radius">
                <div class="small-6 small-offset-3 end columns" style="text-align: center;">
                    <input onchange="on_userLevelChange()" data-label-width="auto" data-handle-width="auto" data-on-text="Yes" data-off-text="No" data-label-text="Exact" type="checkbox" name="below" id="below"/>
                    <label for="below"></label>
                </div>
            </div>
        </div>
    </div>
</form>

<table>
    <thead>
    <tr id="tableHeadCommands">
        <th style="min-width: 200px">Name</th>
        <th style="width: 100%;">Response/Script</th>
        <th style="min-width: 200px">User Level</th>
    </tr>
    </thead>
    <tbody id="tableBodyCommands">
    </tbody>
</table>

