<script type="text/javascript">


    $(document).ready(function () {
        $("[name='below']").bootstrapSwitch();
        getChannelName();
        populateUserLevels();
        on_userLevelChange();
    });

    function populateUserLevels() {
        var userLevelsSelect = $('#user_level');
        userLevelsSelect.append($("<option/>").val("ALL").text("All"));
        $.getJSON('/dashboard/get_user_levels', function (data) {
            $.each(data, function (index, userLevel) {
                console.log(userLevel);
                userLevelsSelect.append($("<option/>").val(userLevel).text(userLevel.capitalize()));
            });
        });
    }

    function on_userLevelChange() {
        var userLevelsSelect = $('#user_level');
        if (userLevelsSelect.val() == 'ALL' || userLevelsSelect.val() == "DEFAULT") {
            $('#andBelow').addClass('hidden-for-small-up');
        } else {
            $('#andBelow').removeClass('hidden-for-small-up');
        }
        $.getJSON(window.location.href + '/get_commands', {
            id: userLevelsSelect.val(),
            below: !$('#below').prop("checked")
        }, function (data) {
            var table = $('#tableBodyCommands');
            table.find('tr').remove().end();
            $.each(data, function (index, command) {
                var response = command.script == null ? command.response : "[SCRIPT] ".bold() + command.script;
                table.append($('<tr/>').append($('<td/>').text(command.name)).append($('<td/>').html(response)).append($('<td/>').text(command.execUserLevel.capitalize())));
            });
        });
    }
</script>
<h4 class="text-center">Commands</h4>
<form>
    <div class="row">
        <div class="large-6 columns small-centered">
            <div class="row collapse prefix-radius">
                <div class="small-3 columns small-offset-3">
                    <span class="prefix">User Level </span>
                </div>
                <div class="small-3 columns end">
                    <label for="user_level"></label>
                    <select id="user_level" onchange="on_userLevelChange()"></select>
                </div>
            </div>
        </div>
    </div>
    <div id="andBelow" class="row hidden-for-small-up" style="margin-bottom: 20px;">
        <div class="large-6 columns small-centered">
            <div class="row collapse prefix-radius">
                <div class="small-6 small-offset-3 end columns" style="text-align: center;">
                    <input onchange="on_userLevelChange()" data-label-width="auto" data-handle-width="auto" data-on-text="Yes" data-off-text="No" data-label-text="Exact" type="checkbox" name="below" id="below"/>
                    <label for="below"></label>
                </div>
            </div>
        </div>
    </div>
</form>

<table>
    <thead>
    <tr>
        <th style="min-width: 200px">Name</th>
        <th style="width: 100%;">Response/Script</th>
        <th style="min-width: 200px">User Level</th>
    </tr>
    </thead>
    <tbody id="tableBodyCommands">
    </tbody>
</table>

