<script type="text/javascript">
    function getQuotes() {
        $.getJSON(window.location.href + '/get_quotes', function(data){
            var table = $('#tableBodyQuotes');
            table.find('tr').remove().end();
            $.each(data, function (index, quote) {
                table.append($('<tr/>').append($('<td/>').text(quote.id)).append($('<td/>').text(quote.text)));
            });
        });
    }
    $(document).ready(function () {
        getChannelName();
        getQuotes();
    });
</script>

<h4 class="text-center">Quotes</h4>
<table>
    <thead>
    <tr>
        <th style="min-width: 50px">ID</th>
        <th style="width: 100%;">Quote</th>
    </tr>
    </thead>
    <tbody id="tableBodyQuotes">
    </tbody>
</table>